h1 {
  font-size: 17px;
}
h2 {
  font-size: 12px;
}

p {
  margin-block-start: 10px;
  margin-block-end: 10px;
}

.email {
  font-size: 12px;
}

.user-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  width: 225px;
  background-color: aliceblue;
  box-shadow: 4px 4px 15px rgb(24, 24, 24);
  position: relative;
  left: 90px;
              /* -2px -2px 12px rgb(24, 24, 24); */
  color: black;
  z-index: 2;
  transition: 1s;
  border-radius: 20px;
  overflow: hidden;
}

.img-container {
  height: 31%;
  background-color: rgb(254, 92, 92);
  padding: 10px 0 0 0;
}

.info-container {
  padding:0 10px;
  text-align: left;
  height: 50%;
}

.user-img {
  margin: 5px;
  height: 150%;
  border-radius: 50%;
}

.more-info {
  color: black;
  height: 241px;
  width: 175px;
  z-index: 1;
  position: relative;
  left: -95px;
  background-color: aliceblue;
  box-shadow: 4px 4px 15px rgb(24, 24, 24);
  border-radius: 20px;
  overflow: hidden;
  /* padding: 10px 20px; */
}

.wrapper {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-slide {
  animation-name: card-slide;
  animation-duration: 400ms;
  animation-fill-mode: both;
}


.user-card-slide {
  position: relative;
  left: 0px;
  animation-name: user-card-slide;
  animation-duration: 400ms;
  animation-fill-mode: both;
}
.user-card-unslide {
  animation-name: user-card-unslide;
  animation-duration: 400ms;
  animation-fill-mode: both;
}
.card-unslide {
  animation-name: card-unslide;
  animation-duration: 400ms;
  animation-fill-mode: both;
}

@keyframes user-card-slide {
  from {left: 75px;}
  to {left: 0px;}
}
@keyframes user-card-unslide {
  from {left: 0px;}
  to {left: 75px;}
}

@keyframes card-slide {
  from {left: -100px;}
  to {left: -20px;}
}
@keyframes card-unslide {
  from {left: -20px;}
  to {left: -100px;}
}


/* .hidden {
  display: none;
} */